.bottom-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e1e1e1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom-nav-list{
    display: flex;
    width: 90%;
    margin: 0px auto;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 0 !important;
}
.bottom-nav-list li{
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.bottom-nav-list .active_option{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.bottom-nav-list .active_option a{
    color: inherit;
}

.bottom-new-file{
    position: absolute;
    top: -110%;
    right: 10px;
    /* transform: translate(-50%,0); */
    border: 1px solid #e1e1e1;
    outline: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (min-width:450px){
    .bottom-nav{
        display: none;
    }
}