.overlay{
    width: 100%;
    height: 100vh;
    background-color: #2626261e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    display: none;
}

.overflow_enable{
    display: block;
}


@media screen and (min-width:775px){
    .overlay{
        display: none !important;
    }
}