.user_profile_form{
    width: 100%;
    height: 100vh;
    background-color: #26262613;
    position: fixed;
    z-index: 2001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_profile_wrapper{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    animation: scaleup .3s 1;
   
}


@keyframes scaleup{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.modal__header{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}
.modal_close_btn_form{
    width: 35px;
    height: 35px;
    background-color: rgba(255, 30, 30, 0.644);
    border: 1px solid transparent;
    position: absolute;
    top: -25px;
    right: -15px;
    border-radius: 50%;
    color: #fff;
}


.modal_body{
    width: 100%;
}

.uavatar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal__user__avatar{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgba(189, 187, 255, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
}
.modal__user__avatar img{
    position: absolute;
    top: 50%;
    width: 90%;
    height: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    border-radius: 50%;
}

.user__avatar__edit_btn{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #fff;
    background-color: blue;
    bottom: 5px;
    position: absolute;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__avatar__edit_btn input{
    display: none;
}

.user__details{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.user__details h3,p{
margin: 0;
}

.user_edit_form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.custom_field{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}
.custom_field label{
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
}
.custom_field input{
    width: 98%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid #26262613;
    outline: 0;
}
.custom_field input:focus{
    border-bottom: 1px solid rgb(142, 250, 142);
}

.save_profile{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 38, 255);
    border: 1px solid transparent;
    margin-bottom: 5px;
    margin-top: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
}

.disabled{
    background-color: rgb(137, 150, 223);
}



/* @media screen and (max-width:460px){
    .user_profile_form{
        display: flex;
    }
} */

@media screen and (min-width:768px){
    .user_profile_wrapper{
        width: 450px;
    }
}