.auth{
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authBox{
  width: 350px;
  padding: 15px;
  background-color: #fff;
}

.field{
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
}
.field label{
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease-out;
}
.field input{
  height: 100%;
  padding-left: 5px;
}
.field input:focus +  label{
  top:-20px;
  left: 10px;
}

.submit_btn{
  width: 100%;
  margin-top: 15px;
  height: 35px;
  background-color: rgb(70, 41, 199);
  color: #fff;
  border: 0;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
}

.static_label{
  top: -20px !important;
}

#upload_btn{
  width:45px;
  height: 45px;
  background-color: blue;
  display: inline-flex;
  position: fixed;
  bottom:25px;
  right: 25px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
#file{
  display: none;
}

.progressbar{
  width: 100%;
  height: 15px;
  background-color: rgb(47, 0, 255);
}
.progress_value{
  height: 100%;
  transition: all .3s ease-in-out;
  background-color: rgb(0, 255, 136);
}

.container{
  width: 90%;
  margin: 0 auto;
}

.files__container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:15px;
}
.file_card{
  flex:1;
  max-width: 250px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 4px;
  cursor: pointer;
}
.file__cover{
  width: 100%;
  height: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file__cover img{

  width: 100%;
  height: 100%;
}


.image__cover{
  width: 100%;
  height: 100%;
}
.file_name{
  font-size: 12px;
}
.file__footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.download_btn{
  width: 35px;
  height: 35px;
  background-color: rgb(0, 24, 240);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
}